<!DOCTYPE html>
<html>
<head>
    <title>Property Listings</title>
</head>
<body>
    <h1>Property Listings</h1>
    <ul>
        {% for listing in listings %}
        <li>
            <strong>{{ listing[1] }}</strong> - {{ listing[4] }}<br>
            {{ listing[2] }}<br>
            Price: ${{ listing[3] }}
            <form action="{{ url_for('delete_listing', listing_id=listing[0]) }}" method="post">
                <button type="submit">Delete</button>
            </form>
            <a href="{{ url_for('edit_listing', listing_id=listing[0]) }}">Edit</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('create_listing') }}">Create New Listing</a>
</body>
</html>
